<html>
	<head><link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="></head>
	<!-- css --><style type="text/css">{{.Assets.Css}}</style>
	<body>
	<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
		<div class="container">
		<a href="../" class="navbar-brand">Rollbacks</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		</div>
	</div>
	<div class="container">
	{{if .Empty}}
	  <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Unable to populate rollback list for <strong>{{.Artifact}}-{{.Region}}</strong>. Try browsing from the <a href="#" class="alert-link">top level</a>.</p>
      </div>
    {{else}}
		<h1>{{.PageTitle}}<h1>
		<ul>
			{{range .Todos}}
				{{if .Done}}
					<li>{{.Title}}</li>
				{{end}}
			{{end}}
		</ul>
	{{end}}
	</div>
	
	<!-- jquery --><script>{{.Assets.Jquery}}</script>
	<!-- bootst --><script>{{.Assets.Bootst}}</script>
	<!-- custom --><script>{{.Assets.Custom}}</script>
	</body>
</html>
